
body {
    font-family: 'Poppins', sans-serif;
}

input:focus {outline:none;}


.detail-box{
    width: 100%;
    display: flex;
}

.type{
    display: flex;
    flex-direction: column;
}

body{
    background-color:#eef8ff;
}

.box{
    width:224px;
    height: 350px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 25px;
}

.main-body {
    background-color: #2a6c98;
    color: whitesmoke;
    text-align: center;
    padding: 3%;
}

.ret-link {
    color: rgb(255, 255, 255);
}


.ret-link:hover {
    color: rgb(0, 21, 255);
}   