html {
    visibility: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
}

.page-header {
    background-color: #112B3C;
}

.page-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.img-logo {
    width: 150px;
    height:auto;
    margin-left: 2.5em;
    margin-bottom: 1em;
}

.page-interactive {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5em;
}

.search-bar-div {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0.3%;
    margin-left: 4%;
    margin-right: 4%;
}

.search-bar {
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.search-button {
    width: 1.5em;
    height: auto;
    margin-left: 0.5em;
}

.header-button-text {
    font-size: 100%;
    font-weight: bold;
    margin-left: 0.05em;
    color: white;
}

.page-interactive button {
    height: 30px;
    cursor: pointer;
    background-color: #F66B0E;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-right: 0.3%;
}

.cart-button {
    width: 160px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 30px;
    cursor: pointer;
    background-color: #F66B0E;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-right: 0.3%;
 }
 
.cart-button-image {
    width: 25%;
    height: auto;
    transform: scaleX(-1);
}

.login-button {
    width: 100px;
}

.profile-button {
    width: 70px;
}



/*LOGIN MODAL*/
.login-modal {
  display: none; /* Hidden by default */
  flex-direction: column;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.login-modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  width: 25%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modal-close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #2a6c98;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.modal-logo-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: -6%;
    margin-bottom: -3%;
}

.img-modal {
    width: 60px;
    height: auto;
    margin-right: 2%;
}

.modal-text {
    font-size: 220%;
    font-weight: bold;
    color: #ababab;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FFFEF2;
}

.login-form div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.login-form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-password {
    margin-bottom: 3.5%;
}

.modal-login-errors {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.modal-login-errors p {
    display: none;
    margin: 1%;
}

.modal-register-link-div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #2a6c98;
    padding: 1%;
}

.modal-register-text {
    margin: 0;
}

.modal-register-link {
    text-decoration: underline;
}

.modal-register-link:hover {
    color: #F66B0E;
}