body {
    margin: 0;
    padding: 5vw;
    font-family: 'Poppins';
    height: 100vh;
    overflow: hidden;
    background-color: #EFEFEF;
}

td, th{
    padding: 12px 15px;
}

th{
    background-color: #205375;
    color: #ffffff;
    text-align: left;
    font-weight: bolder;
}

tr{
    text-align: left;
}

tr:nth-of-type(odd) {
    background-color: #d8d6d6;
}

tr:hover {background-color: rgb(184, 182, 181);}

.edge2{
    border-radius: 0 10px 0 0;
}

.edge1{
    border-radius: 10px 0 0 0;
}

table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

input[type="submit"] {
    background-color: #e63434;
    color: white;
    border-radius: 25px;
    border: none;
    margin-left: 5px;    
    width: 7vw;
    height: 2vw;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    background-color: #e63434;
    transition: .2s;
}

input[type="text"]{
    padding: 5px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    background-color: white;
    border-radius: 3px;
    
}

input[type="text"]:hover,
input[type="text"]:focus {
    background-color: #dddddd;
    transition: .2s;
}


